<!DOCTYPE HTML>
<html lang="fr">
<head>
	<meta charset="UTF-8">
    <title>Les Simonettes</title>
    <meta name="description" content="">
  <link rel="shortcut icon" href="images/favicon.ico" >
  <link rel="icon" type="image/x-icon " href="images/favicon.ico" >
  <link rel="icon" type="image/png" href="images/favicon.png" >
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png" >

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="">

    <link rel="stylesheet" href="/static/css/knacss.css" media="all">
    <link rel="stylesheet" href="/static/css/styles.css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600italic,400italic,700' rel='stylesheet' type='text/css'>
     {% block head %}
	{% endblock %}
</head>
<body  itemscope itemtype="http://schema.org/WebPage">
{% comment %}
  <header id="header" role="banner" class="pam">

          <img src="/static/img/image.png" width="100%" />
  </header>
{% endcomment %}

{% block content %}
{% endblock %}

  <footer id="footer" role="contentinfo" class="pam">
    <p>Réalisé par la <a href="Manufacture générale">Manufacture générale</a></p>
  </footer>

<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script> -->

    {% block script %}
    {% endblock %}



</body>
</html>
