<footer id="footer">
<div class="container">
<div class="row">
    <div class="col-md-3 col-sm-3 content">
        <strong>Service client</strong>
        <p>Tél. 06 51 07 22 61<br />du lundi au vendredi<br /> de 10h à 12h<br />et de 14h à 18h </p>

    </div>
    <div class="col-md-3 col-sm-3 remboursement">
        <strong>Catégories</strong>
        <ul>
            <li><a href="/">Catégorie 1</a></li>
            <li><a href="/">Catégorie 2</a></li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-3">
        <strong>Informations</strong>
        <ul>
            <li><a href="/qui-sommes-nous/">Qui sommes-nous ?</a></li>
            <li><a href="/cgv/">Conditions de ventes</a></li>
            <li><a href="/legales/">Mentions légales</a></li>
            <li><a href="/contact/">Contactez-nous</a></li>
        </ul>

    </div>
    <div class="col-md-3 col-sm-3">
        <strong>Paiement</strong>
        <div class="paiement"></div>
        <strong>Livraison</strong>
        <p>Livraison en 48 H</p>

    </div>
  </div>
</div>
<div class="subFooter">
<p>{{ project_name }} ©2014 - <a href="http://www.medianetroom.com">Création & réalisation du site Internet</a> : Medianetroom</p>
</div>
</footer>
