<img style="display:block; width:50%; margin:0 auto;" src="https://www.envoiedusteak.fr/static/img/logo_hexa_grey_transparent_ab.png">
<h1 style="text-align:center">Il est pas beau ton logo ??? Et ton mail HTML hein !</h1>
<p>Bonjour {{ user }},<br />
<p>Ici c'est l'Amazon de la viande rouge, le charcutier des GAFA, le boucher de la Grande Distrib, le court-cicuiteur du Périgord !</p>
<p>Tu reçois ce beau mail en html pour te demander si tu es content du boulot de ton développeur !</p>
<p>Ces derniers jours, il a mangé une sacré côte de boeuf alors on ne sait pas pourquoi, mais il a bûcher comme un malade pour ne pas se faire haché-menu par le boucher du Périgord.</p>
<p>Et puis, il faut dire qu'il avait envie de partir en vacances aussi ! Hein, alors que certains se dorent la pilule à Nancy en jouant à Mario Kart pendant que leurs femmes respectives discutent bébé et couche-culottes. Le pauvre petit développeur, lui, il prépare son départ en Catalogne, le Vénézuéla de l'Europe !</p>
<p>En attendant, le charcutier des GAFA sera heureux d'apprendre que tous ses emails sont devenus html.</p>
Allez, à bientôt<br />
<i>Le développeur</i>
<a href="https://www.envoiedusteak.fr">Redécouvrez la vraie nature de la viande rouge avec du sang et des trippes</a>
</p>

