<img style="display:block; width:50%; margin:0 auto;" src="https://www.envoiedusteak.fr/static/img/logo_hexa_grey_transparent_ab.png" />
<h1 style="text-align:center">Votre commande est validée</h1>
<p>Bonjour {{ user }},<br />
Un grand merci pour votre commande N° <a href="https://www.envoiedusteak.fr/commande/liste/">{{ order }}</a>
<br />Dès que votre commande sera prête à être expédiée, nous vous enverrons un email avec votre numéro de suivi.</p>
<p>
A bientôt</p>
<p>Jérémie<br />
</p>

<p>
<hr />
<strong>Questions fréquentes:</strong><br />
<a href="https://www.envoiedusteak.fr/livraison/">Comment se passe la livraison ?<a/><br />
<a href="https://www.envoiedusteak.fr/livraison/">Puis-je congeler la viande?</a>
</p>

