{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

Vous avez reçu cet email car vous souhaitez réinitialiser votre mot de passe du
site {{ domain }}.
Si ce n'est pas le cas, merci d'ignorer ce message.

Pour réinitialiser votre mot de passe, merci de cliquer sur le lien suivant, ou
de le copier dans votre navigateur.

{{ protocol }}://{{ domain }}{% url auth_password_reset_confirm uid token %}

Votre nom d'utilisateur, au cas ou vous l'auriez oublié : {{ user.username }}


Cordialement,

L'équipe de {{ site_name }}
